link(rel="stylesheet", href="/styles/contactos.css")

.contacts-container
    img(src="/screenshots/fondo-numeros-telefonicos.png", alt="fondo-telefonico")
    .contact
        h1 +81
        p Recepción
    .contact
        h1 +82
        p Citas médicas
    .contact
        h1 +83
        p Farmacia