link(rel="stylesheet", href="/styles/extras.css")

.extras-container
    .extra-card
        .extra-card-img-content
            img(src="/screenshots/fondo-noticias.jpg", alt="imagen Noticias")
        h3 Noticias y novedades
        p Conoce las últimas noticias, eventos y avances del hospital.
        a(href="noticias.html", class="extra-button") Ver noticias
    .extra-card
        .extra-card-img-content
            img(src="/screenshots/fondo-equipo-medico.jpg", alt="imagen representativa")
        h3 Recursos del hospital
        p Consulta nuestro equipo médico, camas disponibles y stock farmacéutico.
        a(href="equipo.html", class="extra-button") Ver información