link(rel="stylesheet", href="/styles/footer.css")

footer.footer
    h3 Más Información
    hr
    .informative-container
        .informative-column
            h4 Dirección
            p Av. Lafinur Sur, San Luis capital, Hospital Central Alexandria
        .informative-column
            h4 Horarios
            p consulta: 9:30 - 20:00
            p urgencias: 8:00 - 21:00
            p visitas: 13:00 - 17:00
        .informative-column
            h4 Enlaces útiles
            p Términos y condiciones / privacidad
            a(href="/trabaja") Trabaja con nosotros
            p Preguntas frecuentes