link(rel="stylesheet", href="/styles/header.css")

header.header
  .logo
    img(src="/icon/hospitalAlexandriaIcono2.png", alt="Logo")
  section(style="display: flex; flex-direction: row; gap: 40px; align-items: center;")
    p(style="font-size: 25px; color: rgb(255, 0, 149); text-shadow: 1px 1px 1px black;") 📞 1475
    button.login-button Iniciar Sesión