extends layout

block content
  include includes/header.pug
  .main-container
    include includes/carousel.pug
    include includes/cards.pug
    include includes/contactos.pug
    include includes/extras.pug
  include includes/loginModal.pug
  include includes/footer.pug