extends layout

block content
    include includes/header.pug
    link(rel="stylesheet", href="/styles/dashboard.css")
    link(rel="stylesheet", href="/styles/contentarea.css")
    script(defer, src="/js/dashboard.js")

    main(style="display: flex; flex-direction: row; height: 100%; width: 100%;")
        .dashboard
            aside.sidebar
                nav.menu
                    button.menu-item.active Inicio
                    button.menu-item Mi perfil
                    if (roles.includes('Administrador'))
                        button.menu-item Usuarios
                        button.menu-item Pacientes
                        button.menu-item Estructura Hospitalaria
                        button.menu-item Ofertas
                        button.menu-item Postulaciones
        main.content-area
            .section-panel.active(data-section="inicio") 
                h2= "¡Bienvenido "+usuario.nombre+" "+usuario.apellido+"!"
                p Aquí verás información general.

            .section-panel(data-section="mi-perfil")
                h2 Mi Perfil
                p Tus datos personales aparecerán aquí.

            if(roles.includes('Administrador'))
                .section-panel(data-section="usuarios")
                    include includes/usuarios.pug

                .section-panel(data-section="pacientes")
                    include includes/usuarios.pug

                .section-panel(data-section="hospital")
                    include includes/hospital.pug

                .section-panel(data-section="ofertas")
                    include includes/ofertas.pug

                .section-panel(data-section="postulaciones")
                    include includes/postulaciones.pug
