script(src="/js/admisiones.js", defer)

h2 Mis admisiones
p Aqui puede ver las admisiones creadas por usted recientemente
hr
table#tabla 
    thead
        th Fecha
        th DNI
        th Paciente
        th Tipo de ingreso
        th Unidad 
        th Cama
        th Estado
    tbody
        // - Aquí se llenarán las filas con JavaScript