script(src="/js/medicos.js", defer)

h2 Registro de Médicos
p Aquí Ver la lista de médicos registrados en el sistema.
hr
table#tabla
    thead
        tr
            th DNI
            th Nombre y Apellido
            th Especialidad
            th Matricula
            th Email
            th Teléfono
            th Estado
    tbody#medicosTableBody
        // Aquí se llenarán los médicos mediante JavaScript