link(rel="stylesheet", href="/styles/postulaciones.css")
script(defer, src="/js/postulaciones.js")

h2 Gestión de Postulaciones
p Aquí podrás revisar, aceptar o rechazar postulaciones a las ofertas laborales.
hr
section(style="display: flex; flex-direction: row; gap: 20px; margin: 10px 0;")
  .filtros
    label Estado:
    select#filtroPostulacion
      option(value="") Todas
      option(value="pendiente") Pendiente
      option(value="aceptada") Aceptadas
      option(value="rechazada") Rechazadas

table#tablaPostulaciones
  thead
    tr
      th ID
      th Nombre
      th Email
      th Rol
      th Oferta
      th Fecha
      th Estado
      th CV
      th Acciones
  tbody
    //- Llenado dinámico
